<div class="header">
    <div class="bloco">
        <img src="https://logospng.org/download/tokyo-2020/logo-tokyo-2020-2048.png" width="200" alt="Tokyo 2020" />
    </div>
    <div class="bloco">
        <h1>Conheça os atletas brasileiros classificados para os jogos Olímpicos de Tokyo</h1>
                
    </div>
    <div class="bloco">
        <h2>Descubra alguns deles aqui!</h2>
    </div>
    
    <div class="bloco">
        <img src="https://cdn.pixabay.com/photo/2012/05/07/02/47/green-47700_960_720.png" width="300"  />
          </div>

    <div class="bloco">
        <a href="/create" class="botao">Quero inserir um atleta! </a>
        <a href="/read" class="botao">Quero ver todos!</a>
    </div>
    <hr>
</div>    