<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo - Jogos Olimpicos</title>
    <link rel="stylesheet" href="/static/estilo.css" />
    <link rel="sortcut icon" href="favicon.ico" type="image/x-icon" />;
    <link rel="sortcut icon" href="/Aula20/Proj1/static/olimpiadas.png" type="image/gif" />;

    

</head>
<body>
    {% include 'header.html' %}
    <div class="bloco">
        <h2>Temos um total de <span class="novo_id">{{ total }}</span> atletas cadastrados!</h2>
    </div>
</body>
</html>
